In [1]:
import pandas as pd

In [3]:
df = pd.read_csv(r"C:\Users\10378\Downloads\Free_Proxy_List.csv")

In [33]:
df_temp = df[['ip','port']]
df_temp.head()

               ip  port
0    24.14.164.57  8205
1  85.198.151.178  1080
2  177.159.145.26  4153
3  116.206.61.179  5678
4   31.170.19.233  4153

In [35]:
for index, row in df_temp.iterrows():
    df_temp.at[index, 'proxy'] = str(row[0]) + ':' + str(row[1])

c:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:1684: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = infer_fill_value(value)
c:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [36]:
# df_temp.to_csv("C:\Users\10378\Desktop\proxy.csv")

                 ip   port                proxy
0      24.14.164.57   8205    24.14.164.57:8205
1    85.198.151.178   1080  85.198.151.178:1080
2    177.159.145.26   4153  177.159.145.26:4153
3    116.206.61.179   5678  116.206.61.179:5678
4     31.170.19.233   4153   31.170.19.233:4153
..              ...    ...                  ...
495   93.171.224.53   4153   93.171.224.53:4153
496  112.215.33.114   3629  112.215.33.114:3629
497   95.179.232.45  15737  95.179.232.45:15737
498   72.209.45.119   3128   72.209.45.119:3128
499   104.22.50.220     80     104.22.50.220:80

[500 rows x 3 columns]

In [ ]:
###